body { padding: 0; margin: 0; background-color: #818080; }
#unity-container { position: absolute }
#unity-container { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-canvas { background: #231F20;}
#unity-loading-bar { position: absolute; left: 50%; top: 60%; transform: translate(-50%, -50%);}
/* #unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center } */
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
/* #unity-footer { position: relative } */
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 30px; color: #ffffff; }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-webxr-link { float: left; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
/* #entervr:enabled { float: right; width: 38px; height: 38px; background-color: #1eaed3; display: inline-block; border: 0; }
#enterar:enabled { float: right; width: 38px; height: 38px; background-color: #1eaed3; display: inline-block; border: 0; }
#entervr:disabled { float: right; width: 38px; height: 38px; background-color: #dddddd; display: inline-block; border: 0; }
#enterar:disabled { float: right; width: 38px; height: 38px; background-color: #dddddd; display: inline-block; border: 0; } */
#unity-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
}

#unity-footer p {
    font-size: 30px;
}

#unity-button {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#unity-button button {
    padding: 15px 30px;
    border-radius: 10px;
    border:1px solid #ffffff;
	background-color:transparent;
	cursor:pointer;
	color:#ffffff;
    font-size: 15px;
	font-family:Arial;
	text-shadow:0px 1px 0px #ffffff;
}

#unity-button button:hover {
    padding: 15px 30px;
    border-radius: 10px;
    border:1px solid #ffffff;
	background-color:#ffffff;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	text-shadow:0px 1px 0px #ffffff;
}